.bannerComponent {
    background: url(http://dagdistribuidor.com.br/images/BANNER_JOHNSON.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
}